@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#ex {
    text-align: center;
    background-image:url("image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
html,body {
    height: 100%;
    width: 100%;
}

.button {
    color: rgb(0, 60, 255);
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
   
}

.row input{
    font-size: 20px;
    margin: 0; 
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 291px;
}
